form {
	margin: 0px;
	padding: 0px;
}

.flex {
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
}

form {
	width: 100%;
}

.top-buffer {
	margin-top: 15px;
}